.hide-input {
  visibility: hidden;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.input-wrap {
  padding-top: .25rem;
  font-size: 2rem;

  input {
    width: 100%;
    font-size: inherit;
    color: inherit;
    border: none;
    background: transparent;
    text-align: center;
    margin: 0;
    padding: 0;
    text-align: right;
    outline: none;
    appearance: none;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}
