.box {
  display: inline-block;
  width: 50%;
  height: 50%;
  border: 1px solid #FFFFFF;
  background: #F4F4F4;
  vertical-align: top;
  text-align: center;
}

.box-children-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
